<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>OnePasswordログイン</title>
</head>

<body>
  <h1>ログイン</h1>
  <form th:action="@{/onepassword-menu}" th:object="${loginDto}" method="post">
    <table>
      <tr>
        <td>ユーザ名</td>
        <td>
          <input type="text" th:field="*{userName}">
        </td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td>
          <input type="password" th:field="*{userPassword}">
        </td>
      </tr>
    </table>
    <input type="submit" value="ログイン" />
  </form>
</body>

</html>